h1 {
    color: rgb(26, 0, 128);
    text-align: center;
    font-family: consolas;
    border: 2px solid rgb(213, 211, 231);
    border-radius: 25px;
    background: 1px rgb(213, 211, 231);
}
#comment_form{
    color: rgb(3, 0, 6);
    text-align: center;
}
input[type="text"],
input[type="email"] {
  border: 1px solid rgb(0, 4, 12);
  box-sizing: border-box;
  padding: auto;
  border-radius: 8px;
  height: 40px;
  justify-content: center;
  display: block;
  width: 200px; 
  margin: 0 auto;
}
label {
    display: block;
    text-align: center;
}

textarea {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  height: 90px;
  width: 300px;
  display: block;
  width: 350px; /* Adjust the width as needed */
  margin: 0 auto;
}

button{
    border: 1px solid rgb(3, 32, 90);
    box-sizing: border-box;
    background-color: rgb(23, 156, 239);
    border-color: rgb(23, 156, 239);
    padding: auto;
    border-radius: 12px;
    justify-content: center;
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    cursor: pointer;
    font-size: 25px;
}
button:hover{
    background-color: rgb(230, 229, 244);
    color: rgb(8, 0, 0);
    border-color: rgb(0, 64, 255);
}

img {

    border-radius: 18px;
    display: block;
    width: auto;
    position: absolute;
    top: 160px;
    left: 70%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
   
}
